
<div class="container-fluid">
    <div class="container-fluid">

        <div class="row">


            <div class="col-sm-3 panel panel-default">
                <div class="panel-header">Revenue</div>
                <div id="totalRevenue" class="panel-body text-primary">
                   R
                </div>
            </div>
            <div class="col-sm-3 panel panel-default">
                <div class="panel-header"> Sales</div>
                <div id="totalSales" class="panel-body text-danger"></div>
            </div>


            <div class="col-sm-3 panel panel-default pull-right" id="row-selection">

                <span>
							<a href='javascript:dc.filterAll();dc.redrawAll();'><font color="#33CC99">Reset All</font></a>
						</span>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">2018 Sales</h4>
                        <p class="category">All products</p>
                    </div>
                    <div class="content">
                        <div id="resource-chart" class="ct-chart"></div>

                        <div class="footer">

                            <div class="stats">
                               <i class="fa fa-clock-o"></i> Updated </i><time am-time-ago="time"></time> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="false" class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">2018 Sales</h4>
                        <p class="category">All products</p>
                    </div>
                    <div class="content">
                        <div class="6u chart-wrapper"  id="date-chart"></div>

                        <div class="footer">

                            <div class="stats">
                                 <i class="fa fa-clock-o"></i> Updated </i><time am-time-ago="time"></time> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <div class="header">
                        <h4 class="title">Sales By Product</h4>
                        <p class="category">Most Selling Product To Date</p>
                    </div>
                    <div class="content">
                        <div id="funding-chart" class="ct-chart ct-perfect-fourth"></div>


                        <div class="footer">

                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Updated </i><time am-time-ago="time"></time> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sales by Day</h4>
                        <p class="category">Excluding tax</p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div id="state-donations" class="col-sm-8 ct-chart"></div>
                            <div class="col-sm-4 text-center my-auto">
                                <div id="totalQty" class="h4 mb-0 text-primary"></div>
                                <div class="small text-muted">SALES</div>
                                <hr>
                                <div id="revenue" class="h4 mb-0 text-warning">R</div>
                                <div class="small text-muted">total</div>
                                <hr>
                              
                            </div>
                        </div>
                        <div class="footer">

                            <div class="stats">
                                  <i class="fa fa-clock-o"></i> Updated </i><time am-time-ago="time"></time> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

