	<nav-menu ng-hide="onHomePage()"></nav-menu>
<div class="text-center home-page">
	
	

	<p class="lead">
		<em>point of sales system.</em>
	</p>
	<br/><br/>
	<br/><br/>

	<div class="text-center ng-scope">
	
	<br><br>
	
	<div class="container">
		
		<div class="col-md-5">
			<a ui-sref="inventory" class="btn btn-info btn-block"> 
				<h2>Inventory</h2>
			</a>
		</div>
		
		<span class="col-md-1"></span>
		
		<div class="col-md-5">
			<a ui-sref="pos" class="btn btn-info btn-block">
				<h2>POS</h2>
			</a>
		</div>

	</div>
	
	<br><br>

	<div class="container">	

		<div class="col-md-5">
			<a ui-sref="transactions" class="btn btn-info btn-block">
				<h2>Transactions</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		<div class="col-md-5">
			<a ui-sref="live-cart" class="btn btn-info btn-block">
				<h2>Live Cart</h2>
			</a>
		</div>

	</div>
		<br><br>
		<div class="container">	

		<div class="col-md-5">
			<a ui-sref="analytics" class="btn btn-info btn-block">
				<h2>Analytics</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		

	</div>

	

</div>