@media only screen and (max-width:780px) {
.banner{
height: 80vh;
background-size: cover bottom;
}
#mob-nav{
position: absolute;
right: 8%;
top: 7%;
color: #fff;
font-size: 23px;
z-index: 100!important;
}
.menu__nav{
background-color: #222;
position: fixed;
right: 0;
left: 0;
top: 14%;
display: none;
}
.menu__nav ul{}
.menu__nav ul li{
list-style-type: none;
display: block;
padding: 0 ;
margin: 0;
}
.menu__nav ul li a{
display: block;
padding:20px;
text-align: center;
border-bottom: solid 1px rgba(255,255,255,0.1);
}
.menu__nav ul li a.highlighted{
background-color: transparent;
color: #ffeb3b;
padding:20px;
}
.banner__content h1{
font-size: 10vw;
}
.banner__content h4{
font-size: 20px;
line-height: 22px;
}
.banner__content{
padding: 17% 8%;
padding-top: 20vh;
}
.head p{
padding: 0;
}
.listings__list__one{
padding-top: 30px;
}
.download ul li{
padding-bottom: 10px;
}
.download__content{
padding-left: 0%;
}
.footer__box{
padding-bottom: 20px;
}
}
@media screen and (min-width:781px) and (max-width:991px) {
.cta,.download,.footer,.listings{
padding: 8% 15%;
}
.banner{
padding: 0 15%;
}
#mob-nav{
display: none;
}
}
@media screen and (min-width:992px) and (max-width:1648px){
#mob-nav{
display: none;
}
}
@media screen and (min-width:1649px) {
.cta,.download,.footer,.listings{
padding: 8% 20%;
}
.banner{
padding: 0 20%;
}
#mob-nav{
display: none;
}
}